<div class="spacer"></div>

<div class="about-container">
  <div fadeIn class="header-container fade-in">
    <span headerAnimation class="header">About</span>
  </div>

  <div class="about-info-container">
    <div fadeIn class="about-info-text fade-in">
      <span class="hello-header">Hello!</span>
      <span class="name-header">
        I'm 
        <span class="name-header-nowrap">
          <span #nameElement class="name-header-element">Gavin Morris</span>.
        </span>
      </span>
      @for (p of aboutInfoParagraphs; track $index) {
        <p>{{p.text}}</p>
      }
    </div>
    <div class="about-info-img-container">
      <img [src]="headshot" [alt]="headshotAlt" width="1000" height="1000" loading="eager">
    </div>
  </div>
</div>

<div fadeIn class="timeline-container fade-in">
  <span headerAnimation class="header">Timeline</span>
  <div class="timeline-info">Scroll through the timeline to view my experiences.</div>
</div>

<div fadeIn class="timeline-box">
  <div class="timeline"></div>

  @for (item of timelineItems; track item.company; let i = $index) {
    <div
      fadeIn
      class="timeline-group"
      [class.group-left]="i % 2 === 0"
      [class.group-right]="i % 2 === 1"
    >
      <div fadeIn class="timeline-row fade-in">
        <div class="timeline-side timeline-side-left">
          <div class="timeline-date">
            {{ item.date }}
          </div>
        </div>

        <div class="timeline-logo">
          <img [src]="item.logo?.asset?.url" [alt]="item.logo?.alt || item.company" />
        </div>

        <div class="timeline-side timeline-side-right">
          <div class="timeline-header">
            {{ item.title }}
          </div>
        </div>
      </div>

      <div class="timeline-expand">
        <div class="timeline-expand-inner">
          @for (milestone of item.milestones; track milestone.title) {
            <div fadeIn class="fade-in">
              <a
                class="milestone-row milestone-button"
                [class.milestone-parent-left]="i % 2 === 0"
                [class.milestone-parent-right]="i % 2 === 1"
                [routerLink]="milestone.route"
              >
                <div class="milestone-date-card">
                  {{ milestone.date }}
                </div>

                <div class="milestone-dot"></div>

                <div class="milestone-content">
                  <div class="milestone-title">
                    {{ milestone.title }}
                  </div>
                  <div class="milestone-description">
                    {{ milestone.description }}
                  </div>
                </div>
              </a>
            </div>
          }
        </div>
      </div>
    </div>
  }
</div>