<div class="spacer"></div>

<div class="about-container">
  <div #fadeItem class="header-container fade-in">
    <span #headerEl class="header">About Me</span>
  </div>

  <div class="about-info-container">
    <div #fadeItem class="about-info-text fade-in">
      <span class="hello-header">Hello!</span>
      <span class="name-header">
        I'm 
        <span class="name-header-nowrap">
          <span #nameElement class="name-header-element">Gavin Morris</span>.
        </span>
      </span>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing ed do eiusmod tempor 
      incididunt ut labore
      </p>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
      </p>
    </div>
    <div class="about-info-img-container">
      <img src="assets/about/headshot.png" alt="Headshot Photo" width="1000" height="1000">
    </div>
  </div>
</div>

<div #fadeItem class="timeline-container fade-in">
  <span #headerEl class="header">Timeline</span>
  <div class="timeline-info">Scroll through the timeline to view my experience.</div>
</div>

<div #fadeItem class="timeline-box">
  <div class="timeline"></div>

  @for (item of timelineItems; track item; let i = $index) {
    <div
      #fadeItem
      class="timeline-group"
      [class.group-left]="item.side === 'left'"
      [class.group-right]="item.side === 'right'"
    >
      <div #fadeItem class="timeline-row fade-in">
        <div class="timeline-side timeline-side-left">
          <div class="timeline-date">
            {{ item.date }}
          </div>
        </div>

        <div class="timeline-logo">
          <img [src]="item.logo" [alt]="item.company" />
        </div>

        <div class="timeline-side timeline-side-right">
          <div class="timeline-header">
            {{ item.title }}
          </div>
        </div>
      </div>

      <div class="timeline-expand">
        <div class="timeline-expand-inner">
          @for (milestone of item.milestones; track milestone) {
            <div #fadeItem class="fade-in">
              <div
                class="milestone-row"
                [class.milestone-parent-left]="item.side === 'left'"
                [class.milestone-parent-right]="item.side === 'right'"
              >
                <div class="milestone-date-card">
                  {{ milestone.date }}
                </div>

                <div class="milestone-dot"></div>

                <div class="milestone-content">
                  <div class="milestone-title">{{ milestone.title }}</div>
                  <div class="milestone-description">
                    {{ milestone.description }}
                  </div>
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  }
</div>