<div class="spacer"></div>

<div fadeIn class="contact-container fade-in">
  <span headerAnimation class="header">Contact</span>
  <p class="contact-blurb"> Our journey starts here.</p>

  <div class="form-container">
    <form (submit)="sendEmail($event)">
      <div class="form-info-row">
        <div class="form-input">
          <label for="first-name">First Name<span class="required">*</span></label>
          <textarea id="first-name" name="first_name" rows="1" required></textarea>
        </div>
        <div class="form-input">
          <label for="last-name">Last Name<span class="required">*</span></label>
          <textarea id="last-name" name="last_name" rows="1" required></textarea>
        </div>
      </div>

      <div class="form-info-row">
        <div class="form-input">
          <label for="email">Email<span class="required">*</span></label>
          <textarea id="email" name="email" rows="1" required></textarea>
        </div>
        <div class="form-input">
          <label for="organization">Team/Organization<span class="required">*</span></label>
          <textarea id="organization" name="organization" rows="1" required></textarea>
        </div>
      </div>

      <div class="form-info-message">
        <label for="message">Message<span class="required">*</span></label>
        <textarea id="message" name="message" rows="10" required></textarea>
      </div>

      <button
        type="submit"
        class="my-button"
        [disabled]="isSending()">
        @if (!isSending()) {
          <span>Send</span>
        } @else {
          <span class="button-spinner" aria-label="Sending"></span>
        }
      </button>
    </form>
  </div>
</div>

@if (sendEmailTriggered() || showSubmissionOverlay()) {
  <div class="submission-overlay">
    <div class="submission-card">
      @if (emailSuccess()) {
        <h2 class="submission-card-title">Success ✅</h2>
        <p class="submission-card-text">
          Thank you for sending me a message. I’ll get back to you as soon as I can.
        </p>
        <button class="my-button" (click)="closeSubmissionOverlay()">
          <span>Continue Exploring</span>
        </button>
      } @else {
        <h2 class="submission-card-title">Failure ❌</h2>
        <p class="submission-card-text">
          Something went wrong. Please try again, and I’ll get back to you as soon as I can.
        </p>
        <button class="my-button" (click)="closeSubmissionOverlay()">
          <span>Try Again</span>
        </button>
      }
    </div>
  </div>
}