<div class="spacer"></div>

<div #fadeItem class="gfx-title-container fade-in" >
    <span #headerEl class="header">GFX Work</span>
    <div class="gfx-info">
        <span>{{gfxSubHeader}}</span>

        <div>Click on a project to view in more detail.</div>
    </div>
</div>

<div #fadeItem class="gfx-card-container fade-in">
  @for (row of gfxWorkRows; track $index) {
    <div class="gfx-card-row">
      @for (card of row; track $index) {
        <a
          class="gfx-card"
          [class.gfx-card-loading]="isGfxLoading || !card.video.name"
          [routerLink]="isGfxLoading ? null : card.route"
          [attr.aria-disabled]="isGfxLoading"
        >
          <div class="gfx-card-visual">
            @if (!isGfxLoading && card.video.name) {
              @if (card.video.sourceType === 'external' && card.safeUrl) {
                <iframe
                  #vimeoFrame
                  class="gfx-card-video"
                  [src]="card.safeUrl"
                  [title]="card.video.name"
                  frameborder="0"
                  allow="autoplay; fullscreen; picture-in-picture"
                  allowfullscreen>
                </iframe>
              } @else if (card.video.sourceType === 'upload' && card.uploadUrl) {
                <video
                  class="gfx-card-video"
                  [src]="card.uploadUrl"
                  [attr.aria-label]="card.video.name"
                  autoplay
                  muted
                  loop
                  playsinline>
                </video>
              }
            } @else {
              <div class="gfx-card-skeleton-media"></div>
            }
          </div>

          @if (!isGfxLoading && card.video.name) {
            <span class="gfx-card-name">{{ card.video.name }}</span>
          } @else {
            <span class="gfx-card-skeleton-text"></span>
          }
        </a>
      }
    </div>
  }

  <button routerLink="/contact" class="my-button">
    <span>Add Your Team!</span>
  </button>
</div>



<div #fadeItem class="media-container fade-in">
    <span #headerEl class="header">Photography + Video</span>
    <div class="media-info">
        <div>{{photoVideoParagraph}}</div>
    </div>
</div>

<div #fadeItem class="media-card-container fade-in">
  <div class="media-masonry">
    @for (card of photoVideoMedia; track card.name) {
      <div class="media-card">
        <div class="media-card-visual">
          <img
            [src]="card.img?.asset?.url"
            [alt]="card.name"
            class="media-card-img"
          />
        </div>
      </div>
    }
  </div>

    <button routerLink="/contact" class="my-button">
        <span>Add Your Media!</span>
    </button>

</div>

